<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <img src="https://i.imgur.com/OpYM6Qe.png" alt="CompSoc logo" height="32" />
    <br />
    <i style="color: gray"
      >Your Computer Science Society,
      <a href="https://comp-soc.com/" style="color: gray">CompSoc</a></i
    >

    <div style="margin: 24px 0px">
      <h3 style="margin: 0px">Two events coming up!</h3>
      <p style="margin: 0px">Just show up</p>
    </div>

    <div style="background-color: #d2d2d245; padding: 6px; border-radius: 5px">
      <h2 style="margin: 0px">
        <span
          style="
            background-color: #ce3234;
            padding: 0px 5px;
            border-radius: 5px;
            color: white;
          ">
          STMU🍕</span
        >
        <i style="font-size: medium">15:00 • 25 Oct • IF_G.06</i>
      </h2>
      <i style="color: gray">
        Student Tech Meetup, with talks from industry professionals
      </i>

      <br />
      <br />

      We will be hearing from:
      <ul>
        <li>
          <b>Matt Henderson</b> - <i>Animating Mathematically</i>, <br />
          <a href="https://www.matthen.com/">Matt Henderson</a> has worked as a
          researcher in conversational language understanding at <b>Google</b>,
          <b>Apple</b>, <b>PolyAI</b>, and <b>Reka</b>. But in his spare time he
          creates mathematical animations, explaining concepts like chaos theory
          with bouncing balls, breadth first search with lightning strike
          simulations, and cellular automata with Pokémon battles. In this talk,
          Matt will dive into a few of his animations, and the code used to
          generate them.
        </li>
        <br />
        <li>Jane Doe, CTO of Doe Inc.</li>
      </ul>

      And as always there will be free pizza 🍕!
    </div>

    <br />

    <div style="background-color: #d2d2d245; padding: 6px; border-radius: 5px">
      <h2 style="margin: 0px">
        <span
          style="
            background-color: #ce3234;
            padding: 0px 5px;
            border-radius: 5px;
            color: white;
          ">
          Beer Pong</span
        >
        <i style="font-size: medium">15:00 • 42 Oct</i>
      </h2>
      <i style="color: gray"> Lorem ipsum! Slay </i>

      <br />
      <br />

      At <b>AT_2.11</b>
    </div>
  </body>
</html>
