<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <img src="https://i.imgur.com/OpYM6Qe.png" alt="CompSoc logo" height="32" />
    <br />
    <i style="color: gray"
      >Your Computer Science Society,
      <a href="https://comp-soc.com/" style="color: gray">CompSoc</a></i
    >

    <div style="margin: 24px 0px">
      <h3 style="margin: 0px">Hello to all! 💜</h3>
      <p style="margin: 0px">We have a couple of exciting events coming up!</p>

<br />
      tl;dr
      <br />
      <ul style="margin: 0;">

      <li>
        <span
          style="
            background-color: #ce3234;
            padding: 0px 5px;
            border-radius: 5px;
            color: white;
          ">
          STMU🍕 + EGM ⚖️</span
        > - <i>18:00 • 31 Jan • Informatics Forum G.07</i>
      </li>
      <br/>
      <li>
        <span
          style="
            background-color: #409f58;
            padding: 0px 5px;
            border-radius: 5px;
            color: white;
          ">
          HackTheBurgh</span
        >  - <i>2 - 3 Mar • Nucleus • Looking for volunteers</i>
      </li>
      <br/>

      <li>
        <span
          style="
            background-color: #F4B63F;
            padding: 0px 5px;
            border-radius: 5px;
            color: white;
          ">
          pwnED CTF Qualifier</span
        ></b> - <i>3 - 4 Feb • Online</i>
      </li>
    </ul>


    </div>

    <div style="background-color: #d2d2d245; padding: 6px; border-radius: 5px">
      <h2 style="margin: 0px">
        <span
          style="
            background-color: #ce3234;
            padding: 0px 5px;
            border-radius: 5px;
            color: white;
          ">
          STMU🍕 + EGM ⚖️</span
        >
        <i style="font-size: medium">18:00 • 31 Jan • Informatics Forum G.07</i>
      </h2>
      <i style="color: gray">
        Student Tech MeetUp and Extraordinary General Meeting
      </i>

      <br />
      <br />

      At the <b>STMU</b> we will be hearing talks from industry speakers (with 🍕 and 🥤):
      <ul>
        <li>
          <b>Matt Henderson</b> - <i>Animating Mathematically</i> <br />
          <a href="https://www.matthen.com/">Matt Henderson</a>, has worked as a researcher in conversational language understanding at Google, Apple, PolyAI, and Reka. But in his spare time, he creates mathematical animations, explaining concepts like chaos theory with bouncing balls, breadth first search with lightning strike simulations, and cellular automata with Pokémon battles. In this talk, Matt will dive into a few of his animations, and the code used to generate them.
        </li>
        <br />
        <li>
          <b>Liam O'Connor</b> - <i>Why Domain Theory Matters</i> <br />
          Dive into the world of theoretical computer science with Dr. O'Connor's intriguing talk on 
          denotational semantics. This essential, yet often overlooked, branch connects computer 
          programs directly to mathematical concepts. It's a unique opportunity to explore a 
          fundamental aspect of computer science theory.
        </li>
      </ul>

      For the <b>EGM</b>, we're looking for enthusiastic individuals to take on the roles of Tech Secretary and Treasurer.
      </b>
      <ul>
        <li>
          <b>Treasurer</b>: 
          Manage our finances and play a key role in budgeting and financial planning.
        </li>
        <li>
          <b>Tech Secretary</b>:
          Oversee our technical services, including server management and technical setup for events.
        </li>
      </ul>
      How to Get Involved: Interested in running for a position?
      </b>
      <ul>
        <li>
          <b>Submit a Manifesto</b>: 
          Write a manifesto no more than 200 words and email it in PDF format to committee@comp-soc.com by January 30th, 18:00. 
          Include your name and desired position in the email subject and PDF.
        </li>
        <li>
          <b>Prepare a Speech</b>:
          You'll have 3 minutes to present your speech for the Treasurer position and 1 minute for the Tech Secretary role. Be prepared for follow-up questions from members.
        </li>
      </ul>
      We'll also be discussing a <a href="https://github.com/compsoc-edinburgh/constitution/pull/41/">proposal</a> to amend our constitution. 
      Your input and vote are essential in shaping the future of CompSoc.
    </div>

    <br>

    <div style="background-color: #d2d2d245; padding: 6px; border-radius: 5px">
      <h2 style="margin: 0px">
        <span
          style="
            background-color: #409f58;
            padding: 0px 5px;
            border-radius: 5px;
            color: white;
          ">
          HackTheBurgh</span
        >
        <i style="font-size: medium"> WANTS YOU 🫵 </i>
      </h2>
      <i style="color: gray">
        HackTheBurgh is CompSoc's 24 hour annual hackathon.
      </i>

      <br />
      <br />

      HackTheBurgh is back for its 10th year! Taking place on the 2nd and 3rd of March, at the newly opened Nucleus building.
      <br>
      <br>
      We're looking for enthusiastic individuals to help out on the day, heres a list of reasons why you should volunteer:

      <ul>
        <li>
          <b>FREE FOOD</b><br />
          If theres one thing I can promise you, its that you will not go hungry at HackTheBurgh. We provide food for all our volunteers, and we make sure theres plenty of it.
        </li>
        <br />
        <li>
          <b>FREE MERCH</b><br />
          You'll be dripped out in the latest HackTheBurgh merch, and you'll get to keep it after the event. You'll also get first dibs on anything our sponsors give us.
        </li>
        <br>
        <li>
          <b>YOU LOVE COMPSOC ❤️</b><br />
          If you're reading this email, you're probably a CompSoc member. If you're a CompSoc member, you probably love CompSoc. If you love CompSoc, you should volunteer.
        </li>
        <br>
        <li>
          <b> ALONE TIME WITH THE SPONSORS</b><br />
          If you're looking for an internship, or just want to network with some of the biggest tech companies in the world, volunteering is a great way to do that. You'll get to spend time with the sponsors, and they'll get to know you.
        </li>
      </ul>
      Now I know what you're thinking, "How do I sign up?". Well, its simple, just fill out <a href="https://forms.gle/fvmxenDVuKR93ESK6">this form</a>  and we'll get back to you.
    </div>

    <br>

    <div style="background-color: #d2d2d245; padding: 6px; border-radius: 5px">
      <h2 style="margin: 0px">
        <span
          style="
            background-color: #F4B63F;
            padding: 0px 5px;
            border-radius: 5px;
            color: white;
          ">
          pwnED CTF Qualifier</span
        >
        <i style="font-size: medium"> 3 - 4 Feb • Online </i>
      </h2>
      <i style="color: gray">
        pwnED is SIGINT's annual CTF competition.
      </i>

      <br />
      <br />

      SIGINT, the cybersecurity special interest group, is hosting their yearly jeopardy-style CTF hacking competition. 
      <ul>
      <li>
      Each team consists up to 6 university students enrolled in a UK university. <a href="https://forms.gle/7Xt4Ch4u7U5hv2dz5">Register your team</a> by 31st Jan.
      </li>

      <li>
      For more information and to help you forming a team, join <a href="https://discord.gg/WynY7FD3HP">SIGINT Discord</a>.
      </li>
      <li>
      Top teams are invited to finals on 16th Mar in Edinburgh, followed by pwnEd conference. <a href="https://forms.gle/Bz5XVTyRRoNpRK6L7">Call for talks</a> is open.
      </li>
      </ul>
      Contact: <a href="mailto:contact@sigint.mx">contact@sigint.mx</a>
    </div>
    
    
    <div style="margin: 24px 0px">
      <h3 style="margin: 0px">As always, there will be free pizza and drinks!</h3>
      <p style="margin: 0px">Remember, CompSoc ❤️ you!</p>
    </div>

  
  </body>
</html>